<!DOCTYPE html>
<html>
<head>
    <title>Student Details</title>
    <style>
        .center {
            text-align: center;
            font-size: 40px;
        }
        img {
            display: block;
            margin: 0 auto;
            max-width: 400px;
        }
        .review{
            align-items: center;
            font-size: 48px;
        }

    </style>
</head>
<body>
    <div class="center">
        <h1>{{ name }}</h1>
        <h2>{{ id }}</h2>
    </div>
    <img src="{{ photo_url }}" alt="Student Photo">
    <a class="review" href="{{ url_for('reviews') }}">View Amazon-Reviews</a>
</body>
</html>
