<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popular Words Query</title>
</head>
<body>

    <h1>Popular Words Query</h1>

    <label for="cityInput">City Name:</label>
    <input type="text" id="cityInput" placeholder="Enter city name">

    <label for="quantityInput">Quantity:</label>
    <input type="number" id="quantityInput" placeholder="Enter quantity">

    <select id="queryType">
      <option value="simple_query">Simple Query</option>
      <option value="population">Population</option>
    </select>
    <button onclick="queryPopularWords()">Query</button>


    <h2>Substitute Words Form</h2>

    <form id="substituteForm">
      <label for="word">Word:</label><br>
      <input type="text" id="word" name="word"><br>
      <label for="substitute">Substitute:</label><br>
      <input type="text" id="substitute" name="substitute"><br><br>
      <input type="submit" value="Submit">
    </form>

    <div id="result"></div>

    <script>
        async function queryPopularWords() {
            const cityName = document.getElementById('cityInput').value;
            const quantity = document.getElementById('quantityInput').value;
            const isPop = document.getElementById('queryType').value;

            try {
                const response = await fetch(`/popular_words?city=${cityName}&limit=${quantity}&pop=${isPop}`);
                const data = await response.json();

                // Update the 'result' div with the response
                document.getElementById('result').innerHTML = JSON.stringify(data, null, 2);
            } catch (error) {
                console.error('Error fetching popular words:', error);
            }
        }

        document.getElementById('substituteForm').addEventListener('submit', function(event) {
          event.preventDefault();

          let word = document.getElementById('word').value;
          let substitute = document.getElementById('substitute').value;
          let url = 'http://127.0.0.1:5000/substitute_words';
          let data = { "word": word, "substitute": substitute };

          fetch(url, {
            method: 'POST',
            body: JSON.stringify(data),
            headers:{
              'Content-Type': 'application/json'
            }
          }).then(res => res.json())
          .then(response => document.getElementById('result').textContent = 'Success: ' + JSON.stringify(response))
          .catch(error => document.getElementById('result').textContent = 'Error: ' + error);
        });
    </script>

</body>
</html>
