<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h1 {
            margin-top: 50px;
        }

        button {
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Website</h1>
    <button onclick="location.href='/city'">Go to Bar Chart(City Distance)</button>
    <button onclick="location.href='/score'">Go to Line Chart(Average Score)</button>
    <button onclick="location.href='/review'">Go to Pie Chart(Show population)</button>
    <button onclick="location.href='/radar'">Go to Radar Chart(Show words)</button>
</body>
</html>
